/* common */
.font_size_ico i{
    font-size: 1.3rem;
}

.border_radius-20{
    border-radius: 20px;
}


/* header */
.header-top{
    height: 36px;
    background: black;
    line-height: 32px;
    text-align: right;
}

.header-top .logo{
    height: 40%;
    margin-right: 15px;
}





/* debug */
.debug .header{
    background: yellow;
}