/* common */
.font_size_ico i{
    font-size: 1.3rem;
}

.border_radius-20{
    border-radius: 20px;
}

.banner{
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 135px;
    color: white;
}

.banner .container > div{
    padding-top: 220px;
}

.banner h2{
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 700;
    line-height: 1.2;
}

.banner .btn{
    width: 120px;
    margin-left: 12px;
}

.logo-game{
    width: 290px;
}

/* responsive banner */
/* Small sm */
@media screen and (min-width: 576px){
    
    .logo-game{
        width: 332px;
    }

    .banner h2{
        font-weight: 500;
    }
}

/* Medium md */
@media screen and (min-width: 768px){

    .banner h2{
        font-size: calc(1.425rem + 2.1vw);
        font-weight: 300;
    }
    
    .logo-game{
        width: 440px;
    }
}

/* Large lg */
@media screen and (min-width: 1200px){

    .w_lg{
        width: 442px;
    }
    
    .logo-game{
        width: 230px;
    }
}




/* header */
.header-top{
    height: 36px;
    background: black;
    line-height: 32px;
    text-align: right;
}

.header-top .logo{
    height: 40%;
    margin-right: 15px;
}

/* jumbotron */
.jumbotron{
    background-image: url(../img/jumbo-bg.png);
}





/* debug */
